
{% extends "layout.html" %} 
{% load static %}
{% block title %} CreatePoll{% endblock title %}


{%block content %}
<link rel="stylesheet" href="{% static "css/createpoll.css" %}" />
   
    <form action="" method="post" id="create-poll-form"  >
    {% csrf_token %}
    <h2 class="col text-center"> Create poll</h2>
    <div class="mb-1 p-1">
      <label for="topic" class="form-label" for="Title">Title</label>
      <input type="text" class="form-control" id="Title" name="Title" aria-describedby="Topic description">
      <div id="Topic description" class="form-text text-light">We'll never share your details with anyone else.</div>
    </div>
    
    <div id="field-container" >
        <div class="mb-1 p-3" id="append-field">
            <label for="field-1" class="form-label" >field</label><span> 1:</span>
            <input type="text" class="form-control" class="fields" name="field-1">
          </div>

        </div>
        {% comment %} <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> {% endcomment %}
        
        <a  class="btn btn-success d-block col-3" style="margin-top:10px;margin-left:20px;margin-bottom:20px " id="add-field">Add field+</a>
    <button type="submit" class="btn btn-primary" style="margin-left:190px;margin-bottom:20px" id ="Create-poll-form-submit-btn" >Submit</button>
  </form>
  <script type="module" src="{% static 'js/createpoll.js'%}"></script>
 
  
{% endblock content %}


